datasheets/
cad/impulse/fp-info-cache
cad/impulse/impulse-backups/
cad/impulse/#auto_saved_files#
cad/impulse/impulse_log_missing3Dmodels.txt
cad/impulse/impulse_missing3Dmodels.txt
cad/impulse/manufacture/
cad/impulse/symbols/BGS12P2L6E6327XTSA1.zip
cad/impulse/symbols/BGS12PL6/

